<include file="Admin/Template/default/common/header.html"/>
<div id="main" class="cl">
    <div class="colbox">
        <div class="col-header"><a href="/index.php/Admin" class="col-cls" title="关闭"></a><i class="ui i-loc2"></i>apk配置</div>
        <div class="p-col">
             <form action="<!--{:U('Config/up_appkey')}-->" method="post">
                <table class="form-table" width="100%">
                    <tbody>
                      <input type="hidden" value="1" name="id">
                      <tr><td colspan="2">QQ互联接口配置：</td></tr>
                      <tr><td align="right" width="80">appid</td><td><input type="text" name="qq_appid" value="<!--{$conf.qq_appid}-->" class="c280w"></td></tr>
                      <tr><td align="right">appkey</td><td><input type="text" name="qq_appkey" value="<!--{$conf.qq_appkey}-->" class="c450w"></td></tr>
                      <tr><td colspan="2">微信接口配置：</td></tr>
                      <tr><td align="right">token</td><td><input type="text" name="weixin_token" value="<!--{$conf.weixin_token}-->" class="c280w"></td></tr>
                      <tr><td align="right">appkey</td><td><input type="text" name="weixin_appkey" value="<!--{$conf.weixin_appkey}-->" class="c450w"></td></tr>
                      <tr><td colspan="2">新浪微博接口配置：</td></tr>
                      <tr><td align="right">appid</td><td><input type="text" name="sina_appid" value="<!--{$conf.sina_appid}-->" class="c280w"></td></tr>
                      <tr><td align="right">appkey</td><td><input type="text" name="sina_appkey" value="<!--{$conf.sina_appkey}-->" class="c450w"></td></tr>
                      <tr><td colspan="2">七牛云存储接口配置：</td></tr>
                      <tr><td align="right">appid</td><td><input type="text" name="qiniu_appid" value="<!--{$conf.qiniu_appid}-->" class="c280w"></td></tr>
                      <tr><td align="right">appkey</td><td><input type="text" name="qiniu_appkey" value="<!--{$conf.qiniu_appkey}-->" class="c450w"></td></tr>
                      <tr><td colspan="2">支护宝接口配置：</td></tr>
                      <tr><td align="right">appid</td><td><input type="text" name="alipy_appid" value="<!--{$conf.atrpy_appid}-->" class="c280w"></td></tr>
                      <tr><td align="right">appkey</td><td><input type="text" name="alipy_appkey" value="<!--{$conf.atrpy_appkey}-->" class="c450w"></td></tr>
                      <tr><td colspan="2">百度地图接口配置：</td></tr>
                      <tr><td align="right">appid</td><td><input type="text" name="bapi_appid" value="<!--{$conf.bapi_appid}-->" class="c280w"></td></tr>
                      <tr><td align="right">appkey</td><td><input type="text" name="bapi_appkey" value="<!--{$conf.bapi_appkey}-->" class="c450w"></td></tr>
                      <tr><td for="">&nbsp;</td><td><input type="submit" value="提交"></td></tr>
                      </tbody>
                    </table>
                  </form>
            </div>
    </div>
</div>
<include file="Admin/Template/default/common/footer.html"/>